/* ========================================================================= */
/*                                GENERATOR                                  */
/* ========================================================================= */

/*
 * COLORS
 * ------
 * - #006666 (Appelblauwzeegroen)
 * - #dcecec (Lichtgroen)
 * - #ffbd64 (Lichtoranje)
 * - #febd65 (Oranje)
 * - #bbbbbb (Grijs)
 */

body{
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    background-color: #006666;
}

#previewtable{
    margin: 0px auto;
    border-spacing: 20px;
}

#wrapper{
    max-width: 1200px;
    margin: auto;
    background-color: lightgray;
    padding: 30px;
    border-left: groove;
    border-right: groove;
}

#clearButton{
    margin-bottom: 10px;
    margin-left: 90px;
}

#allImages{
    text-align: -webkit-center;
}

.hidden{
    display: none;
}

fieldset{
    margin-top: 15px;
    border-style: solid;
    border-color: darkgray;
}

legend{
    margin-bottom: 10px;
}

/* Arrows */
.arrow:not(.arrow_last) {
    height: 25px;
    width: 25px;
    background-color: #006666;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 8px;
    border: solid #3e3636 1px;
}

.arrow:hover:not(.arrow_last) {
    background-color: #fea62c;
}

.arrow:active:not(.arrow_last) {
    background-color: #f7940a;
}

.arrow.arrow_last {
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 8px;
    border: solid #6e6060 1px;
}

.arrow_right {
    transform: rotate(-45deg);
    margin-right: 2px;
}


.arrow_left {
    transform: rotate(135deg);
    margin-left: 2px;
}

.white_arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 7px;
}

/* Image preview and table*/
#serverImage{
    padding-top: 90px;
}

#serverImage img{
    border-radius: 10%;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

#serverImage img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#serverImgTable{
    table-layout: fixed;
    width: 300px;
    overflow-wrap: break-word;
}

.serverImgEntry:hover{
    cursor: pointer;
}

.selectedServerEntry{
    font-style: oblique;
    color: #ffbd64;
}

#status{
    padding-top: 10px;
    padding-left: 5px;
}

/* Button-1 */
.button-1 {
    appearance: none;
    background-color: #006666;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
  
.button-1:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
  
.button-1:hover {
    background-color: #fea62c;
}
  
.button-1:focus {
    box-shadow: #fea62c 0 0 0 3px;
    outline: none;
}
  
.button-1:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
  
.button-1:active {
    background-color: #f7940a;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

#genbutton{
    margin-top: 15px;
}

/* Input boxes */
#pixabay_input {
    padding: 6px 16px; 
    line-height: 20px;
}

.imageText{
    margin-left: 20px;
    padding: 3px 5px;
}

input[type="number"] {
    padding: 6px 16px; 
    line-height: 20px;
}

label[for="gametype"]{
    padding-left: 15px;
    padding-right: 10px;
}

select{
    padding: 8px 10px; 
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Radiobutton */
/* Customize the label (the radiocontainer) */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(233, 230, 230);
    border-radius: 50%;
    border-radius: 50%;
    border: solid #a9a2a2 1px;
}
  
/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .radiomark {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiomark {
    background-color: #006666;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiomark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.radiocontainer .radiomark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}

/* Checkmark */
/* Customize the label (the checkcontainer) */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    padding-top: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
}
  
/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 50px;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(233, 230, 230);
    border-radius: 20%;
    z-index: 1;
    border: solid #bfb9b9 1px;
}
  
/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #006666;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checklabel{
    position: relative;
    padding-left: 35px;
    bottom: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* Preview memory */
#table {
    border-spacing: 20px;
    margin: 0px auto;
    background-color: #6b8d8d;
}

.card {
    height: 150px;
    width: 200px;
    text-align: center;
    border: 4px solid #bbbbbb;
    border-radius: 10%;
    transform: rotateY(180deg);
    transition: transform 1000ms ease-out;
    background-color: #dcecec;
}

.card.focus {
    border-color: #fea62c ;
}

.card:focus-visible {
    outline-width: 0px;
}


.card:not(.shown):not(.correct) .img {
    opacity: 0;
    pointer-events: none;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

.card.shown {
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out;
    border-color: #006666;
}

.card.correct{
    opacity: 1;
    border-color: #B5E61D;
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out, border-color 344ms step-end, opacity 344ms step-end;
}

.card.shown .img {
    opacity: 1;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

p.img {
    position: relative;
    top: 50%;
    margin:0px;
    /*left: 50%;*/
    transform: translate(0px, -1em);
}

.img {
    height: 150px;
    /*width: 200px; moet nog wat aan gewerkt worden*/
}