.arrow:not(.arrow_last) {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.arrow.arrow_last {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
}

.arrow_right {
transform: rotate(-45deg);
}

.arrow_left {
transform: rotate(135deg);
}


#serverImgTable{
    table-layout: fixed;
    width: 300px;
    overflow-wrap: break-word;
}

.serverImgEntry:hover{
    cursor: pointer;
}

.selectedServerEntry{
    font-weight: bold;
}