#table{
    border-spacing: 20px;
}

.card{
    height: 100px;
    width: 200px;
    text-align: center;
    border: 5px solid #006666;
    border-radius: 10%;
    transform: rotateY(180deg);
    transition: transform 1000ms ease-out;
    outline: None;
}

.card.focus{
    border-color: #FFA500;
}


.card:not(.shown):not(.correct) .img{
    opacity: 0;
    pointer-events: none;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

.card.shown{
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out;
}

.card.correct{
    opacity: 1;
    border-color: #B5E61D;
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out, border-color 344ms step-end, opacity 344ms step-end;
}

.card.shown .img{
    opacity: 1;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

.img{
    height: 100px;
    /*width: 200px; moet nog wat aan gewerkt worden*/
}