/*
 * COLORS
 * ------
 * - #006666 (Appelblauwzeegroen)
 * - #dcecec (Lichtgroen)
 * - #ffbd64 (Lichtoranje)
 * - #febd65 (Oranje)
 * - #bbbbbb (Grijs)
 */
#table{
    border-spacing: 20px;
}

.card{
    height: 150px;
    width: 200px;
    text-align: center;
    border: 3px solid #bbbbbb;
    border-radius: 10%;
    transform: rotateY(180deg);
    transition: transform 1000ms ease-out;
    background-color: #dcecec;
}

.card.focus{
    border: 3px solid #fea62c;
}


.card:not(.shown):not(.correct) .img{
    opacity: 0;
    pointer-events: none;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

.card.shown{
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out;
    border-color: #006666;
}

.card.correct{
    opacity: 1;
    border-color: #B5E61D;
    transform: rotateY(0deg);
    transition: transform 1000ms ease-out, border-color 344ms step-end, opacity 344ms step-end;
}

.card.shown .img{
    opacity: 1;
    transition: opacity 344ms step-end; /*Voor ease-out 0.344*transition_delay*/
}

.img{
    height: 100px;
    /*width: 200px; moet nog wat aan gewerkt worden*/
}